# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant/
/.idea/
/.vscode/
/.DS_Store
*.log
/storage/
/storage/app/public
/storage/framework/cache/data
/storage/logs
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing

# Ignore composer.lock if you want, but usually it's versionné
# composer.lock
